.about_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.about_box {
  background-color: #fffefe;
  border: 2px solid #f9b8cb;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.image2 img {
  width: 1438px;
  height: 400px;
  margin-left: -18px;
  margin-top: -20px;
}

.title_st {
  margin-top: -260px;
  font-size: 30px;
  font-family: "Calistoga", sans-serif, bold;
}
.line {
  width: 300px;
  height: 2px;
  background-color: #000;
  margin-left: 555px;
  margin-top: -33px;
  position: absolute;
}

.statistics {
  margin-right: 700px;
  margin-top: 100x;
}
