.about_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}
.text {
  position: relative;
  text-align: center;
  color: #000;
  margin-top: -350px;
  margin-left: 500px;
}
.about_box {
  background-color: #fffefe;
  border: 2px solid #f9b8cb;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.image2 img {
  width: 1438px;
  height: 400px;
  margin-left: -18px;
  margin-top: -20px;
}

.title_st {
  margin-top: -260px;
  font-size: 30px;
  font-family: "Calistoga", sans-serif, bold;
}
.redline {
  color: red;
  height: 10px;
  width: 20px;
  margin-top: -160px;
  margin-left: 310px;
  z-index: 999;
  scale: 6;
}
.blackline {
  color: #000;
  height: 10px;
  width: 20px;
  margin-top: 33px;
  margin-left: 310px;
  z-index: 999;
  scale: 6;
}
.line {
  width: 300px;
  height: 2px;
  background-color: #000;
  margin-left: 600px;
  margin-top: -33px;
  position: absolute;
}

.statistics {
  margin-right: 700px;
  margin-top: 100x;
}
