.dashboard {
  margin: 20px;
}
.projectImg {
  position: absolute;
  top: 0;
  left: 230px;
  width: 100px;
  height: 10px;
  flex-shrink: none;
  z-index: -1;
}
.img {
  position: absolute;
  top: 0;
  left: 380px;
  width: 50px;
  height: 10px;
  flex-shrink: none;
  z-index: -1;
}
.nameProject {
  padding: 6px;
  color: #000d59;
  border-radius: 5px;
  margin-left: 65px;
  margin-top: -835px;
  text-align: center;
  font-family: "Calistoga", sans-serif, bold;
  font-size: 60px;
  -webkit-text-stroke: 1.1px rgba(151, 126, 131, 0.993);
}
.title2 {
  padding: 6px;
  color: #000000;
  border-radius: 5px;
  margin-left: -480px;
  margin-top: 280px;
  font-family: "Calistoga", sans-serif, bold;
  font-size: 35px;
  text-align: center;
}
.program1 {
  position: absolute;
  top: 545px;
  left: 390px;
  width: 100px;
  height: 10px;
  flex-shrink: none;
  z-index: -1;
}
.date {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 10px;
  height: 5px;
  flex-shrink: none;
}
.project1 {
  padding: 6px;
  color: #000000;
  margin-left: -350px;
  margin-top: -40px;
  font-family: "Calistoga", sans-serif bold;
  font-size: 17px;
  text-align: center;
}
.project2 {
  padding: 6px;
  color: #696464;
  margin-left: -350px;
  margin-top: -45px;
  font-family: "Calistoga", sans-serif bold;
  font-size: 17px;
  text-align: center;
}
.project3 {
  padding: 6px;
  color: #696464;
  margin-left: -120px;
  margin-top: -65px;
  font-family: "Calistoga", sans-serif bold;
  font-size: 16px;
  text-align: center;
}

.button {
  position: absolute;
  top: 0;
  left: 880px;
  margin-top: 3px;
}

.name_empl {
  background-color: #000d59;
  width: 200px;
  height: 60px;
  margin-left: -250px;
  margin-top: -190px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_emp1 {
  color: aliceblue;
  font-size: 25.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.program_empl {
  width: 198px;
  height: 60px;
  margin-left: -250px;
  margin-top: -130px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
}

.program_empl p1 {
  font-size: 20px;
}
.program_empl p2 {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
}

.program_emp2 {
  width: 198px;
  margin-left: -250px;
  margin-top: -78px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: -3px;
}

.row {
  flex-direction: center;
  justify-content: center;
}

.program_emp2 p4 {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
  margin-left: 20px;
}
.program_emp2 p6 {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
  margin-left: 25px;
}

.program_emp3 {
  width: 198px;
  margin-left: -250px;
  margin-top: -3.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: -3px;
}

.row2 {
  flex-direction: center;
  justify-content: center;
}
.program_emp3 p9 {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
  margin-left: 25px;
}
.program_emp3 p11 {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
  margin-left: 56px;
}
.program_emp3 p13 {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
  margin-left: 61px;
}
.program_emp3 p15 {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
  margin-left: 76px;
}
.program_emp4 {
  width: 198px;
  margin-left: -250px;
  margin-top: 73.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: -3px;
}
.row3 {
  margin-left: 8px;
  font-size: 20px;
}

.name1_empl {
  background-color: #000d59;
  width: 200px;
  height: 60px;
  margin-left: 90px;
  margin-top: -190px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text1_emp1 {
  color: aliceblue;
  font-size: 24.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.program1_empl {
  width: 198px;
  height: 60px;
  margin-left: 90px;
  margin-top: -130px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
}

.program1_empl p18 {
  font-size: 20px;
}
.program1_empl p19 {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
}

.program1_emp2 {
  width: 198px;
  margin-left: 90px;
  margin-top: -78px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: -3px;
}

.row_1 {
  flex-direction: center;
  justify-content: center;
}

.program1_emp2 p21 {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
  margin-left: 20px;
}
.program1_emp2 p23 {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
  margin-left: 25px;
}

.program1_emp3 {
  width: 198px;
  margin-left: 90px;
  margin-top: -3.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: -3px;
}

.row2_1 {
  flex-direction: center;
  justify-content: center;
}
.program1_emp3 p26 {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
  margin-left: 25px;
}
.program1_emp3 p28 {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
  margin-left: 56px;
}
.program1_emp3 p30 {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
  margin-left: 61px;
}
.program1_emp3 p32 {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
  margin-left: 76px;
}
.program1_emp4 {
  width: 198px;
  margin-left: 90px;
  margin-top: 73.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: -3px;
}
.row3_1 {
  margin-left: 8px;
  font-size: 20px;
}

.name2_empl {
  background-color: #000d59;
  width: 200px;
  height: 60px;
  margin-left: 430px;
  margin-top: -190px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text2_emp1 {
  color: aliceblue;
  font-size: 24.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.program3_empl {
  width: 198px;
  height: 60px;
  margin-left: 430px;
  margin-top: -130px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
}

.program3_empl p35 {
  font-size: 20px;
}
.program3_empl p36 {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
}

.program3_emp2 {
  width: 198px;
  margin-left: 430px;
  margin-top: -78px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: -3px;
}

.row_1_3 {
  flex-direction: center;
  justify-content: center;
}

.program3_emp2 p38 {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
  margin-left: 20px;
}
.program3_emp2 p40 {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
  margin-left: 25px;
}

.program3_emp3 {
  width: 198px;
  margin-left: 430px;
  margin-top: -3.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: -3px;
}

.row2_3 {
  flex-direction: center;
  justify-content: center;
}
.program3_emp3 p43 {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
  margin-left: 25px;
}
.program3_emp3 p45 {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
  margin-left: 56px;
}
.program3_emp3 p47 {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
  margin-left: 61px;
}
.program3_emp3 p49 {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
  margin-left: 76px;
}
.program3_emp4 {
  width: 198px;
  margin-left: 430px;
  margin-top: 73.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: -3px;
}
.row3_3 {
  margin-left: 8px;
  font-size: 20px;
}

.program1_1 {
  position: absolute;
  top: 645px;
  left: 390px;
  width: 100px;
  height: 10px;
  flex-shrink: none;
  z-index: -1;
}
.date_1 {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 10px;
  height: 5px;
  flex-shrink: none;
}
.project1_1 {
  padding: 6px;
  color: #000000;
  margin-left: -350px;
  margin-top: 5px;
  font-family: "Calistoga", sans-serif bold;
  font-size: 17px;
  text-align: center;
}
.project2_1 {
  padding: 6px;
  color: #696464;
  margin-left: -350px;
  margin-top: -45px;
  font-family: "Calistoga", sans-serif bold;
  font-size: 17px;
  text-align: center;
}
.project3_1 {
  padding: 6px;
  color: #696464;
  margin-left: -120px;
  margin-top: -65px;
  font-family: "Calistoga", sans-serif bold;
  font-size: 16px;
  text-align: center;
}

.button_1 {
  position: absolute;
  top: 0;
  left: 880px;
  margin-top: 3px;
}
.login_link_emp1 {
  color: white;
  text-decoration: none;
}
