.dashboard {
  margin: 20px;
}
.projectImg {
  position: absolute;
  top: 0;
  left: 230px;
  width: 100px;
  height: 10px;
  flex-shrink: none;
  z-index: -1;
}
.img {
  position: absolute;
  top: 0;
  left: 380px;
  width: 50px;
  height: 10px;
  flex-shrink: none;
  z-index: -1;
}
.nameProject {
  padding: 6px;
  color: #000d59;
  border-radius: 5px;
  margin-left: 65px;
  margin-top: -835px;
  text-align: center;
  font-family: "Calistoga", sans-serif, bold;
  font-size: 60px;
  -webkit-text-stroke: 1.1px rgba(151, 126, 131, 0.993);
}
.title2 {
  padding: 6px;
  color: #000000;
  border-radius: 5px;
  margin-left: -480px;
  margin-top: 350px;
  font-family: "Calistoga", sans-serif, bold;
  font-size: 35px;
  text-align: center;
}

.date {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 10px;
  height: 5px;
  flex-shrink: none;
}

.button {
  position: absolute;
  top: 0;
  left: 880px;
  margin-top: 3px;
}

.name_empl {
  background-color: #000d59;
  width: 200px;
  height: 60px;
  margin-left: -250px;
  margin-top: -190px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_emp1 {
  color: aliceblue;
  font-size: 25.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.program_empl {
  width: 198px;
  height: 60px;
  margin-left: -250px;
  margin-top: -130px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
}

.program_emp2 {
  width: 198px;
  margin-left: -250px;
  margin-top: -74px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: -3px;
  height: 50px;
}

.row {
  flex-direction: center;
  justify-content: center;
}

.program_emp3 {
  width: 198px;
  margin-left: -250px;
  margin-top: 33.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: -3px;
}

.row2 {
  flex-direction: center;
  justify-content: center;
}

.program_emp4 {
  width: 198px;
  margin-left: -250px;
  margin-top: 150.8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: -3px;
  height: 70px;
}
.row3 {
  margin-left: 8px;
  font-size: 20px;
}
.objective {
  font-size: 20px;
}
.app_1 {
  margin-top: -40px;
  font-size: 15px;
  color: #696464;
}
.start {
  font-size: 16px;
  color: #000000;
  font-family: "Calistoga", sans-serif;
  margin-top: 0px;
  margin-left: -15px;
}
.date_start {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
  margin-left: 45px;
  margin-top: -35px;
}
.start_1 {
  font-size: 16px;
  color: #000000;
  font-family: "Calistoga", sans-serif;
  margin-top: -30px;
  margin-left: -15px;
}
.date_start_1 {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
  margin-left: 45px;
  margin-top: -35px;
}
.role_1 {
  font-size: 16px;
  color: #000000;
  font-family: "Calistoga", sans-serif;
  margin-top: -25px;
  margin-left: -10px;
}
.task_1 {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
  margin-left: 115px;
  margin-top: -35px;
}
.progress_1 {
  margin-top: -20px;
  margin-left: 40px;
}
.image_row3 {
  margin-top: -25px;
}

.name_empl2 {
  background-color: #000d59;
  width: 200px;
  height: 60px;
  margin-left: 70px;
  margin-top: -190px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_emp12 {
  color: aliceblue;
  font-size: 25.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.program_empl2 {
  width: 198px;
  height: 60px;
  margin-left: 70px;
  margin-top: -130px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
}

.program_emp22 {
  width: 198px;
  margin-left: 70px;
  margin-top: -74px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: -3px;
  height: 50px;
}

.row2 {
  flex-direction: center;
  justify-content: center;
}

.program_emp32 {
  width: 198px;
  margin-left: 70px;
  margin-top: 33.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: -3px;
}

.row22 {
  flex-direction: center;
  justify-content: center;
}

.program_emp42 {
  width: 198px;
  margin-left: 70px;
  margin-top: 150.8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: -3px;
  height: 70px;
}
.row32 {
  margin-left: 8px;
  font-size: 20px;
}
.objective2 {
  font-size: 20px;
}
.app_12 {
  margin-top: -40px;
  font-size: 15px;
  color: #696464;
}
.start2 {
  font-size: 16px;
  color: #000000;
  font-family: "Calistoga", sans-serif;
  margin-top: 0px;
  margin-left: -15px;
}
.date_start2 {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
  margin-left: 45px;
  margin-top: -35px;
}
.start_12 {
  font-size: 16px;
  color: #000000;
  font-family: "Calistoga", sans-serif;
  margin-top: -30px;
  margin-left: -15px;
}
.date_start_12 {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
  margin-left: 45px;
  margin-top: -35px;
}
.role_12 {
  font-size: 16px;
  color: #000000;
  font-family: "Calistoga", sans-serif;
  margin-top: -25px;
  margin-left: -10px;
}
.task_12 {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
  margin-left: 115px;
  margin-top: -35px;
}
.progress_12 {
  margin-top: -20px;
  margin-left: 40px;
}
.image_row32 {
  margin-top: -25px;
}

.name_empl3 {
  background-color: #000d59;
  width: 200px;
  height: 60px;
  margin-left: 410px;
  margin-top: -190px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_emp13 {
  color: aliceblue;
  font-size: 25.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login_link_emp13 {
  color: white;
  text-decoration: none;
}
.program_empl3 {
  width: 198px;
  height: 60px;
  margin-left: 410px;
  margin-top: -130px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
}

.program_emp23 {
  width: 198px;
  margin-left: 410px;
  margin-top: -74px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: -3px;
  height: 50px;
}

.row3 {
  flex-direction: center;
  justify-content: center;
}

.program_emp33 {
  width: 198px;
  margin-left: 410px;
  margin-top: 33.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: -3px;
}

.row23 {
  flex-direction: center;
  justify-content: center;
}

.program_emp43 {
  width: 198px;
  margin-left: 410px;
  margin-top: 150.8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: -3px;
  height: 70px;
}
.row33 {
  margin-left: 8px;
  font-size: 20px;
}
.objective3 {
  font-size: 20px;
}
.app_13 {
  margin-top: -40px;
  font-size: 15px;
  color: #696464;
}
.start3 {
  font-size: 16px;
  color: #000000;
  font-family: "Calistoga", sans-serif;
  margin-top: 0px;
  margin-left: -15px;
}
.date_start3 {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
  margin-left: 45px;
  margin-top: -35px;
}
.start_13 {
  font-size: 16px;
  color: #000000;
  font-family: "Calistoga", sans-serif;
  margin-top: -30px;
  margin-left: -15px;
}
.date_start_13 {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
  margin-left: 45px;
  margin-top: -35px;
}
.role_13 {
  font-size: 16px;
  color: #000000;
  font-family: "Calistoga", sans-serif;
  margin-top: -25px;
  margin-left: -10px;
}
.task_13 {
  font-size: 15px;
  color: #696464;
  font-family: "Calistoga", sans-serif;
  margin-left: 115px;
  margin-top: -35px;
}
.progress_13 {
  margin-top: -20px;
  margin-left: 40px;
}
.image_row33 {
  margin-top: -25px;
}

.program1_1 {
  position: absolute;
  top: 645px;
  left: 390px;
  width: 100px;
  height: 10px;
  flex-shrink: none;
  z-index: -1;
}
.date_1 {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 10px;
  height: 5px;
  flex-shrink: none;
}
.project1_1 {
  padding: 6px;
  color: #000000;
  margin-left: -350px;
  margin-top: -10px;
  font-family: "Calistoga", sans-serif bold;
  font-size: 17px;
  text-align: center;
}
.project2_1 {
  padding: 6px;
  color: #696464;
  margin-left: -350px;
  margin-top: -45px;
  font-family: "Calistoga", sans-serif bold;
  font-size: 17px;
  text-align: center;
}
.project3_1 {
  padding: 6px;
  color: #696464;
  margin-left: -120px;
  margin-top: -65px;
  font-family: "Calistoga", sans-serif bold;
  font-size: 16px;
  text-align: center;
}

.button_1 {
  position: absolute;
  top: 0;
  left: 880px;
  margin-top: 3px;
}
.login_link_emp1 {
  color: white;
  text-decoration: none;
}
.login_link_emp12 {
  color: white;
  text-decoration: none;
}
