.container {
  background-image: url("../../assets/Component11n.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Calistoga", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: none;
}

.menu {
  list-style-type: none;
  display: flex;
  margin-left: auto;
  font-family: "Calistoga", sans-serif, bold;
}

.menuLink {
  text-decoration: none;
  color: #f4f4f4;
  margin-right: 20px;
  margin-left: 5px;
}

.login_btn a {
  background-color: #000d59;
  color: #fff;
  padding: 10px 20px;
  border-radius: none;
  border: 2px solid #f9b8cb;
  text-decoration: none;
  margin-right: 70px;
  margin-left: 90px;
}

.login_btn a:hover {
  background-color: #f9b8cb;
}

.get_started_button {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
}

.get_started_button button {
  background-color: #f9b8cb;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.get_started_button button:hover {
  background-color: #e39cbb;
}

.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftText {
  flex: 1;
  text-align: center;
  font-size: 56px;
  color: #ffffff;
  font-family: "Calistoga", sans-serif;
  line-height: 0.3;
  margin-left: 100px;
  margin-top: 70px;
}

.rightImage {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 130px;
  margin-top: 70px;
}

.rightImage img {
  width: 500px;
}
