.sidebar_cover {
  background-color: #000d59;
  width: 230px;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-bottom: -22px;
}

.employer_text {
  font-size: 18px;
  font-family: "Calistoga", sans-serif, bold;
  margin-bottom: 24px;
  color: white;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile_image {
  border-radius: 50%;
  margin-bottom: 0;
}

.name {
  font-size: 30px;
  color: white;
  font-family: "Calistoga", sans-serif, bold;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link_page {
  text-decoration: none;
  text-align: center;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 15px;
  font-size: 20px;
  text-align: center;
  transition: all 0.3s ease;
  color: white;
  font-family: "Calistoga", sans-serif, bold;
}

button:hover {
  background-color: rgb(255, 168, 187);
  width: 270px;
}

.active_button {
  background-color: rgb(255, 168, 187);
  font-weight: bold;
  width: 270px;
}
