.container_res {
  display: flex;
}

.content_res {
  display: flex;
  flex-direction: column;
  width: calc(100% - 250px);
}

.project_img_res {
  position: absolute;
  top: 0px;
  left: 260px;
  width: 150px;
  height: 300px;
  flex-shrink: none;
  z-index: -1;
}

.login_link {
  color: white;
  text-decoration: none;
}
.name_project_res {
  padding: 6px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  margin-left: 590px;
  margin-top: -700px;
  text-align: center;
  font-family: "Calistoga", sans-serif, bold;
  font-size: 24px;
  -webkit-text-stroke: 1.1px rgba(151, 126, 131, 0.993);
}

.backgroundImage_res {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 600px;
  margin-top: 300px;
  z-index: -1;
}

.buttons_emp_res {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  margin-left: 430px;
}

.buttonContainer_res {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: white;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 850px;
}

.buttonImage_res {
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.buttonText_res {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  flex-grow: 1;
}

.buttonText_res span1 {
  display: block;
  text-align: left;
  font-style: italic;
  font-size: 14px;
  margin-bottom: 5px;
}

.span0 {
  font-size: 16px;
}

.span1 {
  font-style: italic;
  font-size: 14px;
}
