.container {
  background-image: url("../../assets/image5.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000d59;
}

.logo_container {
  text-align: center;
}

.logo {
  width: 200px;
}

.tagline {
  font-family: "Calistoga", sans-serif, bold;
  color: white;
  margin: 0;
}

.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  position: relative;
  display: block;
  text-align: center;
  font-family: "Calistoga", sans-serif, bold;
  color: white;
  margin-top: -100px;
  text-decoration: none;
  font-size: 30px;
  -webkit-text-stroke: 1px rgba(255, 99, 132, 0.5);
  z-index: 1; /* Ensure links are behind frames */
  transition: transform 0.8s ease; /* Add transition for transform property */
  transform-style: preserve-3d;
}
.text:hover {
  visibility: hidden;
}
.leftImage {
  position: relative;
  margin-bottom: 40px;
  transition: transform 3s ease; /* Add transition for transform property */
  transform-style: preserve-3d;
}

.leftImage:hover {
  transition: transform 3 ease;
  scale: 1.1;
}

.rightImage {
  position: relative;
  margin-bottom: 40px;
  transition: transform 3s ease; /* Add transition for transform property */
  transform-style: preserve-3d;
}
.rightImage:hover {
  transition: transform 3s ease;
  scale: 1.1;
}

.frame {
  width: 370px;
  margin: 0 20px;
  margin-top: 100px;
}

.menuLink {
  -webkit-text-stroke: 1px rgba(255, 99, 132, 0.5);
  z-index: 1; /* Ensure links are behind frames */
  text-decoration: none;
}
.container:hover {
  backdrop-filter: blur(5px);
}
